/* 
.question-container {
    margin: 0 auto;
    width: 70%;
    text-align: center;
    padding: 60px 0px;
}

.question-container>img {
    width: 60%;
    max-width: 800px; 
    height: auto; 
    margin: 20px auto; 
} */


.question-container {
    margin: 0 auto;
    width: 70%;
    text-align: center;
    padding: 60px 0px;
}

.question-container>img {
    width: 60%;
    max-width: 800px; 
    height: auto; 
    margin: 20px auto; 
}
.map-container{
    background-color: #FFE100;
    display: flex;
    justify-content: center;
    
}
.map-container>img{
   width: 50%;
}
.shop-btn-container{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-color: #FFE100;
    padding-bottom: 40px;
}
.shop-btn {
    padding: 10px 0;
    background-color: #0EA213;
    border-color: #000000;
    color: white;
    width: 30%;
  
  }
  
  .shop-btn:hover {
    background-color: #f08300;
    border-color: #f08300;
  }
  

@media only screen and (max-width: 768px) {
    .question-container {
        width: 90%; /* Increase container width for smaller screens */
        padding: 40px 0; /* Reduce padding */
    }

    .question-container>img {
        width: 80%; /* Increase image size relative to the smaller container */
        max-width: 600px; /* Adjust max width */
        margin: 15px auto; /* Reduce margin for better spacing */
    }
}

@media only screen and (max-width: 480px) {
    .question-container {
        width: 95%; /* Almost full width for very small screens */
        padding: 30px 0; /* Further reduce padding */
    }

    .question-container>img {
        width: 100%; /* Full width of the container */
        max-width: 400px; /* Further reduce max width */
        margin: 10px auto; /* Adjust margin */
    }
}
