.footer-container{
    padding-top: 80px;
}

.footer-links-pc{
    width: 80%;
    margin: 0 auto;
    
}
.footer-links-top{
    display: flex;
    justify-content: space-between;
    gap: 40px;

}
.category,.content{
    width: 50%;
}
.category-links{
    display: flex;
    justify-content: space-between;
    gap: 20px;

}
.content-links{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
a{
    color: var(--gray-color);
    font-size: 14px;
  
  
}
a:hover{
    color: var(--primary-color);
}
li{
    padding: 10px;
    line-height: 20px;
    text-align: start;
}
ul{
    padding: 0;
}

h4 {
    padding-bottom: 8px;
    margin: 0;
    border-bottom: 1px solid #707070;
   
  }
.footer-links-bottom{
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:20px;

}
.sitelinks-container, .services-container,.info-container,.social-media-container{
    width: 25%;

}

/* phone */
.footer-links-ph{
    display: none;
    text-align: center;
    
}
.footer-links-ph ul{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   gap: 4px;
   
    
}


@media only screen and (max-width:768px) {
    .footer-links-pc{
        display: none;
    }
    .footer-links-ph{
        display: block;
    }

}
  
