p{
    margin: 0;
    padding: 0;
}

    .card-container{
        width:190px;
        height: auto;
        padding: 4px;
        margin: 0 auto;
        border: 1px solid #ddd;
    }
    .img{
        width: 100%;
    }

    .brand{
        display: flex;
        align-items: center;
        
    }
    .nav-icon{
        margin-left: auto;
        font-size: 20px;
    }
    .product-brand{
        color: #555555
    }
    .product-price{
        color: #F08300;
        font-weight: 800;
        
    }
    .product-name{
        height: 45px;
        padding: 0;
        
    }
    @media only screen and (max-width:452px) {
        
    .card-container{
        width:150px;
        height: auto;
        padding: 4px;
        margin: 0 auto;
        border: 1px solid #ddd;
    }
        
    }

   

 